<%= form_for(@article, html: {multipart: true, class: 'form'}) do |f| %>

<ul>
<% @article.errors.full_messages.each do |error| %>
  <li><%= error %></li>
<% end %>
</ul>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.label :image, 'Paste the URL of the image' %><br />
    <%= f.text_field :image %>
  </p>

  <p>
    Categories:
  </p>
  <p>
    <input type="checkbox" name="tag_ids[]" value="1" />Tv
    <input type="checkbox" name="tag_ids[]" value="2" />Radio
    <input type="checkbox" name="tag_ids[]" value="3" />Car
    <input type="checkbox" name="tag_ids[]" value="4" />Train
  </p>


  <div class="proceed_button">
    <%= button_tag(type: 'submit', class: "proceed", id: 'validForm') do%>
      <span>Create Article</span>
    <% end %>
  </div>
<% end %>
