<%= render partial: 'header' %>

<main class="container-fluid-rj">
    <div class="cover col-md-8 col-sm-12 row-rj">
      <div class="cover-left flex-column-rj flex-justify-end-rj col-md-12 col-sm-12" style="background:
linear-gradient(to bottom, rgba(255, 0, 0, 0.5), rgba(0, 0, 0, 1)),
url('<%= image_art(@popular_article)%>'); background-repeat: no-repeat; background-position: top center; background-size: cover;">
        <div class="description">
          <h2 class="title-logo">
            <%= tilte_art(@popular_article) %>
          </h2>
          <p class="title-logo-bottom"><%= text_art(@popular_article)%></p>
        </div>
      </div>
    </div>
  </main>

  <div class="container-rj row-slide-rj deals margin-bottom">
        <% @categories.each do |category| %>
              <div class="col-sm-12 col-md-6 col-xl-3">
                    <div class="gallery-latest app-item">
                      <ul class="list-latest">
                                <li>
                                  <div class="image image-relative">
                                      <%= image_cat(category)%>
                                      <div class="header-apps flex-column-rj flex-justify-between-rj">
                                        <h5><%= link_to category.name, article_path(id: category.id), method: :get, class:'cat-title'%></h5>
                                        <div class="description-app">
                                          <h5><%= art_cat(category) %></h5>
                                        </div>
                                      </div>
                                  </div>
                                </li>
                            </ul>
                        </div>
                </div>
        <% end %>
  </div>

<%= render partial: 'footer' %>
