<%= render partial: 'header' %>
<div class="log-div">
  <%= form_tag(search_page_path, :method => "get", class: "form") do %>
    <div class="recherche">
      <%= text_field_tag :search, params[:search], class:"input_form", placeholder: "Search articles" %>
      <%= submit_tag "Search", class:'search' %>
    </div>
  <% end %>
</div>

<hr />
<table class="blueTable">
  <thead>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
  </thead>
  <tfoot>
    <tr>
    <td colspan="4">
    <div class="links"><%= will_paginate @articles %></div>
    </td>
    </tr>
</tfoot>
  <tbody>
  <% @articles.each do |article| %>
    <tr>
      <td><%= link_to article.title, article_path(id: article.id), method: :get%></td>
      <td class="word-wrap"><%= article.text.truncate(100) %></td>
    </tr>
  </tbody>
  <% end %>
<%= render partial: 'footer' %>
