
<div class="log">
  <%= form_for @user, html: {class:'box'} do |f| %>
  <h1>Register</h1>
  <p class="warning"><%= flash.notice %></p>
  <ul>
    <% @user.errors.full_messages.each do |error| %>
      <li class="warning"><%= error %></li>
    <% end %>
  </ul>

    <p>
      <%= f.text_field :name, placeholder: 'Name' ,class:"input_form"%>
    </p>
    <div class="proceed_button">
      <%= f.submit "Save", class:'proceed' %>
      <%= link_to 'Log in', new_session_path(), class:"register" %>
    </div>
  <% end %>
</div>
