<%= form_for @user, html: {class:'box'} do |f| %>
<h1>Register</h1>
<p class="warning"><%= flash.notice %></p>
<ul>
  <% @user.errors.full_messages.each do |error| %>
    <li class="warning"><%= error %></li>
  <% end %>
</ul>

  <p>
    <%= f.text_field :name, placeholder: 'Name' %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <p>
      <%= link_to 'Log in', new_session_path() %>
  </p>
<% end %>
