<!DOCTYPE html>
<html>
  <head>
    <title>RorCapstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="flash"><%= flash.notice %></p>
    <% if session[:auth] %>
      <h3>Welcome: <%= session[:auth]["name"] %></h3>
      <li><h3><%= link_to "logout", destroy_session_path, data:{method: :delete} %></h3></li>
    <% end %>
    <%= yield %>
  </body>
</html>
